body {
	width: 250px;
	margin: 50px auto;
	background-color: #757575;
}

h1 {

}

h2 {
	font-size: 1.4em !important;
}

h2.h2-login {
	font-weight: 800;
}

h3 {

}

h4 {
	font-weight: 400;
}

h5 {

}

nav > a.mdl-navigation__link {
	padding: 16px 20px !important;
}

nav > a.mdl-navigation__link > i {
	margin-top: 2px;
	margin-right: 6px;
	margin-bottom: 2px;
}

span.logged-user {
	font-size: larger;
	margin-left: 5px;
}

div.web-content {
	padding: 10px;
}

table {
	text-align: center;
}

table.simulation-list > thead > tr {
	background-color: lightslategray;
}

table > tbody > tr:nth-child(odd) {
	background-color: lightgray;
}

table.table-data > thead > tr > th {
	width: 100px;
}

div.table-scroll {
	overflow: scroll;
	height: 380px;
}

div.table-size {
	max-width: 300px;
	max-height: 500px;
}

select {
	width: 130px;
	height: 36px;
	background-color: #ff4081;
}

button {
	margin: 5px !important;
}

.simulation-form {
	max-width: 280px;
	max-height: 270px;
}

.menu-links {
	background-color: #e0e0e0;
}

.overlay-waiting {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 50000;
	background-color: #e0e0e0;
	opacity: 0.8;
}
.overlay-waiting > .awe {
	position: absolute;
	top: 25%;
	left: 15%;
}

.overlay-waiting > .awe > i {
	font-size: 20em;
}