<!doctype html>
<html lang="sk">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Web aplikácia, ktorá sprístupňuje rozhranie matlabu pre potrebu simulácií.">
	<meta name="keywords" content="html, js, angularjs, virtual laboratory, starklab, vlab, matlab">
	<meta name="author" content="Bc. Erich Stark">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>StarkLab</title>

	<link rel="shortcut icon" href="/assets/img/favicon.ico">

	<link rel="stylesheet"
		  href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
	<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">

	<script src="/node_modules/material-design-lite/material.min.js"></script>
	<script src="/node_modules/angular/angular.min.js"></script>
	<script src="/node_modules/angular-cookies/angular-cookies.min.js"></script>
	<script src="/node_modules/socket.io-client/socket.io.js"></script>
	<script src="/node_modules/chart.js/Chart.min.js"></script>

	<script src="/node_modules/jquery/dist/jquery.slim.min.js"></script>
	<script src="/assets/libs/jquery.tabletoCSV.js"></script>

	<script src="../app.js"></script>
	<script src="../services/services.js"></script>
	<script src="../controllers/controllers.js"></script>
	<script src="../filters/filters.js"></script>
	<script src="../directives/directives.js"></script>
</head>

<body ng-app="starkLab" ng-controller="SectionsCtrl as section">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
	<header class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
		<div class="mdl-layout__header-row">
			<h1 ng-bind="section.headerName" class="mdl-layout-title"></h1>
		</div>
	</header>
	<div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
		<header>
			<div>
				<i class="mdl-color-text--blue-gray-400 material-icons" role="presentation">account_circle</i>
				<span class="logged-user" ng-bind="loggedUser"></span>
				<a href="/logout"><i class="mdl-color-text--blue-gray-400 material-icons" role="presentation" style="float: right;">exit_to_app</i></a>
			</div>
		</header>
		<nav class="mdl-navigation mdl-color--blue-grey-800">
			<a class="mdl-navigation__link" href="" ng-click="section.selectSection(0, 'Simulácia šikmého vrhu')" ng-class="{ 'menu-links': section.isSelected(0) }"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">playlist_play</i>Simulácia</a>
			<a class="mdl-navigation__link" href="" ng-click="section.selectSection(1, 'Real-time údaje šikmého vrhu')" ng-class="{ 'menu-links': section.isSelected(1) }"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">show_chart</i>Real-time údaje</a>
			<a class="mdl-navigation__link" href="" ng-click="section.selectSection(2, 'Uložené simulácie')" ng-class="{ 'menu-links': section.isSelected(2) }"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">cloud</i>Zobraziť simulácie</a>
			<div class="mdl-layout-spacer"></div>
			<!--<a class="mdl-navigation__link" href=""><i class="mdl-color-text&#45;&#45;blue-grey-400 material-icons" role="presentation">help_outline</i>Pomocník</a>-->
		</nav>
	</div>
	<main class="mdl-layout__content mdl-color--grey-100">
		<div class="mdl-grid" ng-show="section.isSelected(0)">
			<!-- Spodna cast - vyber parametrov simulacie -->
			<div class="web-content mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
				<h2>Šikmý vrh</h2>
				Šikmým vrhom nazývame pohyb telesa v tiažovom poli, kde počiatočná rýchlosť zviera z osou <em>x</em>
				nenulový uhol.
				Pri kladnom uhle 0&deg; < &alpha; < 90&deg; sa jedná o šikmý vrh hore. Ak vrh prebieha vo vzduchu tak sa
				pohybuje po tzv. balistickej krivke.

				<h2>Matematický model</h2>
				Predpokladajme, že teleso má počiatočnú rýchlosť <em>v<sub>0</sub></em> zvierajúcu s vodorovným smerom
				uhol &alpha;. Následný pohyb
				sa skladá z rovnomerného priamočiareho pohybu touto rýchlosťou v pôvodnom smere (týmto smerom položíme
				os <em>x</em>)
				a z volného pádu (rovnomerne zrýchleného pohybu) vo smere tiažového zrýchlenia <em>g</em>, ktorý je
				možné ztotožniť s
				pohybom v smere osi <em>y</em>. V smere osi <em>z</em> teda pohyb neprebieha (trajektóriou teda bude
				rovná krivka).

				<br><br>
				Preto platí: <br><br>
				<img src="/assets/img/simulacie/sikmy/rovnice_x_y.png" alt="Rovnica x a y.">

				<br><br>
				Ak vylúčime čas t a presuneme počiatok súradnicovej sústavy do body <em>[x<sub>0</sub>,
				y<sub>0</sub>]</em> tak získame rovnicu trajektorie šikmého vrhu: <br><br>
				<img src="/assets/img/simulacie/sikmy/rovnica_y.png" alt="Rovnica trajektorie.">

				<br><br>
				Pre šikmý vrh nahor je možné z tejto rovnice určiť maximálnu dosiahnutú výšku: <br><br>
				<img src="/assets/img/simulacie/sikmy/rovnica_y_max.png" alt="Rovnica maximálnej dosiahnutej výšky.">

				<br><br>
				a dĺžku vrhu (teda vzdialenosť, po ktorej teleso klesne do pôvodnej výšky), inak povedané dostrel:
				<br><br>
				<img src="/assets/img/simulacie/sikmy/rovnica_dlzky.png" alt="Rovnica dostrelu.">

				<h2>Ilustrácia</h2>
				Trajektorie šikmých vrhov pod rôznymi uhlami, ale rovnakou počiatočnou rýchlosťou 10 m/s; <br>
				t = čas, T = doba letu, R = dostrel (maximálna vzdialenosť), H = najvyšší bod trajektorie. <br><br>
				<img src="/assets/img/simulacie/sikmy/sikmy_sample.png" width="600" alt="Príklady výstrelu.">

				<br>
				<span><a href="https://cs.wikipedia.org/wiki/Vrh_%C5%A1ikm%C3%BD" target="_blank">Zdroj</a></span>

			</div>
			<div class="simulation-form mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
				<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
					<div class="mdl-card__title mdl-color--teal-300">
						<h2 class="mdl-card__title-text">Parametre simulácie</h2>
					</div>
					<div class="mdl-card__supporting-text mdl-color-text--grey-600" ng-controller="SimulationCtrl">
						<div>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="simulation.input.v0" name="v0" value="80" class="mdl-textfield__input" id="input-v0">
								<label for="input-v0" class="mdl-textfield__label">Počiatočná rýchlosť v0</label>
								<span class="mdl-textfield__error">Vstup musí byť číslo.</span>
							</div>
							<br>
							<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
								<input type="text" pattern="-?[0-9]*(\.[0-9]+)?" ng-model="simulation.input.alfa_deg" name="alfa_deg" value="40" class="mdl-textfield__input" id="input-alfa">
								<label for="input-alfa" class="mdl-textfield__label">Počiatočný uhol alfa v stupňoch</label>
								<span class="mdl-textfield__error">Vstup musí byť číslo.</span>
							</div>
						</div>
						<button ng-click="runMatlabWithParams(simulation.input.v0, simulation.input.alfa_deg)" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Spustiť Matlab</button>
					</div>
				</div>
			</div>
		</div>

		<div class="mdl-grid" ng-show="section.isSelected(1)" ng-controller="TableCtrl">
			<div class="web-content mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">

				<h2>Graf vykreslujúci [x, y] súradnice</h2>
				<ui-graph type="realtime"></ui-graph>

				<h2>Animácia pohybu guličky cez [x, y] súradnice</h2>
				<ui-projectile></ui-projectile>
			</div>
			<div class="table-size mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
				<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
					<div class="mdl-card__title mdl-color--teal-300">
						<h2 class="mdl-card__title-text">Tabuľka dát</h2>
					</div>
					<div class="table-scroll mdl-card__supporting-text mdl-color-text--grey-600">
						<ui-table></ui-table>
					</div>
				</div>
			</div>
			<div class="overlay-waiting" ng-show="showOverlay">
				<div class="awe">
					<i class="fa fa-spinner fa-pulse"></i>
				</div>
			</div>
		</div>

		<div class="mdl-grid" ng-show="section.isSelected(2)" ng-controller="ResultsCtrl">
			<!-- Spodna cast - vyber parametrov simulacie -->
			<div class="web-content mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col" ng-show="showDatabaseProblem">
				Problém s pripojením na databázu MongoDB. Overte spojenie.
			</div>

			<div class="web-content mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col" ng-show="!showDatabaseProblem">
				<h2>Zoznam všetkých simulácií</h2>
				<table class="simulation-list">
					<thead>
					<tr>
						<th width="100">Užívateľ</th>
						<th width="140">Dátum</th>
						<th width="120">Model</th>
						<th width="70">Zobraziť</th>
						<th width="70">Zmazať</th>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="result in results track by $index">
						<td>{{result.user}}</td>
						<td>{{result.executed | date: 'dd.MM.yyyy hh:mm'}}</td>
						<td>{{result.experiment}}</td>
						<td><a href="" ng-click="showDetails(result)"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">cloud_download</i></a></td>
						<td><a href="" ng-click="removeSimulation(result)"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i></a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>

			<div id="simulation-view" class="web-content mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col" ng-show="dashboardAvailable">

				<h2>Graf vykreslujúci [x, y] súradnice</h2>
				<label for="repeatSelect"> Vzorka dát: </label>
				<select name="repeatSelect" id="repeatSelect" ng-model="data.repeatSelect">
					<option ng-repeat="option in data.availableOptions" value="{{option.id}}">{{option.name}}</option>
				</select><br>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="startGraph()">Zobraziť uložené údaje realtime</button><br>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="showGraph()">Zobraziť graf zo všetkými údajmi</button><br>
				<ui-graph type="results"></ui-graph>

				<h2>Animácia pohybu guličky cez [x, y] súradnice</h2>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="startAnimation2()">Zobraziť údaje v animácií</button><br>
				<ui-projectile ng-model="results"></ui-projectile>
				<br/>
			</div>
			<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing" ng-show="dashboardAvailable">
				<div class="table-size mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
					<div class="mdl-card__title mdl-color--teal-300">
						<h2 class="mdl-card__title-text">Tabuľka dát</h2><br><br>
						<a href="" data-export="export" ng-click="exportHTMLTable()" style="margin-left: 150px; margin-top: 7px;"><i class="mdl-color-text--black material-icons" role="presentation">save</i></a>
					</div>
					<div class="table-scroll mdl-card__supporting-text mdl-color-text--grey-600">
						<ui-table></ui-table>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
</body>
</html>