<!doctype html>
<html>
<head>
	<title>Matlab real time</title>
	<script src="/node_modules/angular/angular.min.js"></script>
	<script src="/node_modules/angular-cookies/angular-cookies.min.js"></script>
	<script src="/node_modules/socket.io-client/socket.io.js"></script>
	<script src="/node_modules/chart.js/Chart.min.js"></script>

	<script src="../app.js"></script>
	<script src="../services/services.js"></script>
	<script src="../controllers/controllers.js"></script>
	<script src="../filters/filters.js"></script>
	<script src="../directives/directives.js"></script>
</head>
<body ng-app="starkLab">
<canvas id="updating-chart" width="1200" height="300"></canvas>

<div ng-controller="TableCtrl">
	<ui-projectile ng-model="rows"></ui-projectile>

	<div>
		<table>
			<thead>
			<tr>
				<th width="100">Data time</th>
				<th width="100">Data x</th>
				<th width="100">Data y</th>
				<th width="100">Data vy</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="rowContent in rows">
				<td>{{rowContent.time}}</td>
				<td>{{rowContent.x}}</td>
				<td>{{rowContent.y}}</td>
				<td>{{rowContent.vy}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>




<script>
	var canvas = document.getElementById('updating-chart'),
			ctx = canvas.getContext('2d'),
			startingData = {
				labels: [1],
				datasets: [
					{
						fillColor: "rgba(220,220,220,0.2)",
						strokeColor: "rgba(220,220,220,1)",
						pointColor: "rgba(220,220,220,1)",
						pointStrokeColor: "#fff",
						data: {}
					}
				]
			},
			latestLabel = startingData.labels[0];

	// Reduce the animation steps for demo clarity.
	var myLiveChart = new Chart(ctx).Line(startingData, {
		responsive: true,
		animationEasing: 'easeOutBounce',
		animationSteps: 15,
		scaleGridLineColor: 'lightgray'
	});

</script>
</body>
</html>
