<!doctype html>
<html>
<head>
	<title>Socket.IO chat</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.1/angular.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

	<script src="../app.js"></script>
	<script src="../services/services.js"></script>
	<script src="../controllers/controllers.js"></script>
	<script src="../filters/filters.js"></script>
	<script src="../directives/directives.js"></script>
</head>
<body ng-app="starkLab">
<canvas id="updating-chart" width="1200" height="300"></canvas>

<div ng-controller="TableCtrl">
	<table>
		<thead>
		<tr>
			<th width="100">Data time</th>
			<th width="100">Data x</th>
			<th width="100">Data y</th>
			<th width="100">Data vy</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="rowContent in rows">
			<td>{{rowContent.time}}</td>
			<td>{{rowContent.x}}</td>
			<td>{{rowContent.y}}</td>
			<td>{{rowContent.vy}}</td>
		</tr>
		</tbody>
	</table>
</div>


<script>
	var canvas = document.getElementById('updating-chart'),
			ctx = canvas.getContext('2d'),
			startingData = {
				labels: [1],
				datasets: [
					{
						fillColor: "rgba(220,220,220,0.2)",
						strokeColor: "rgba(220,220,220,1)",
						pointColor: "rgba(220,220,220,1)",
						pointStrokeColor: "#fff",
						data: {}
					}
//					,
//					{
//						fillColor: "rgba(151,187,205,0.2)",
//						strokeColor: "rgba(151,187,205,1)",
//						pointColor: "rgba(151,187,205,1)",
//						pointStrokeColor: "#fff",
//						data: [0]
//					}
				]
			},
			latestLabel = startingData.labels[0];

	// Reduce the animation steps for demo clarity.
	var myLiveChart = new Chart(ctx).Line(startingData, {
		responsive: true,
		animationEasing: 'easeOutBounce',
		animationSteps: 15,
		scaleGridLineColor: 'lightgray'
	});

</script>
</body>
</html>
