<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
	<link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
	<script src="/node_modules/material-design-lite/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<h2 class="h2-login">Stark Laboratory</h2>
<form id="login-form" method="post" action="/login">
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input type="text" name="username" class="mdl-textfield__input" id="input-user" value="xstark">
		<label for="input-user" class="mdl-textfield__label">Meno</label>
	</div>
	<br>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input type="password" name="password" class="mdl-textfield__input" id="input-password" value="bId94oci">
		<label for="input-password" class="mdl-textfield__label">Heslo</label>
	</div>
</form>
<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" form="login-form">Prihlásiť</button>

</body>
</html>